calculator-api/src/main/mule/subtraction.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<flow name="subtractionFlow" doc:id="644a2f4f-b530-44ce-a4b6-09407a05a8ed" >
		<logger level="INFO" doc:name="Starts" doc:id="a0c9ba65-20ae-4b41-86f5-2c7ffc86e229" message="Substraction Starts"/>
		<java:invoke-static doc:name="Substraction" doc:id="15eb5a31-a8fb-4c17-9acf-1189f101fae6" class="calculator.Calculator" method="subtract(int,int)">
			<java:args ><![CDATA[#[{
	a: attributes.queryParams.num1, b: attributes.queryParams.num2
}]]]></java:args>
		</java:invoke-static>
		<ee:transform doc:name="Result Substraction" doc:id="be5c8961-7576-4fe8-bc5b-5a7e64af0bad" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  Result: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Starts" doc:id="87fcb341-6373-4b92-9ade-b9d973653172" message="Substraction Starts"/>
	</flow>
</mule>
